<header>
    <nav class="banner">
        <img class="aplogo" src="assets/images/ap2.png" alt="logo argentina programa">
       <a class="enlaces" href="https://github.com/ilcosme" target="_blank">
            <img class="iconos" src="assets/images/github.png" alt="logogithub">
        </a>
        <a class="enlaces" href="https://www.facebook.com/ilcosme18/" target="_blank">
            <img class="iconos" src="assets/images/fb.webp" alt="logofacebook">
        </a>
        <button type="button">Log in</button>
     </nav>
     <div class="fotocontainer">
        <img class="fotobanner" src="assets/images/cosmos.webp" alt="galaxia">
     </div>
     <div class="about">
      <img src="assets/images/fer.webp" alt="perfilusuario" class="fotofer">
  </div>
</header>
